:root {
    --icon-size: 45px;
}

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    justify-content: center;
}

.pic-container {
    margin: 0 auto 70vh;
    width: 100%;
    height: 265vh;
    background-color: black;
    padding-top: 4em;
}
.pic-container.white {
    background-color: white;
}

.cover {
    font-size: 200%;
}

.sticky-pic {
    position: sticky;
    top: -12vh;
    width: 100%;
    height: 100vh;
}

.relContainer {
    position: relative;
}

.photo {
    /* padding: 50px 0px; */
    /* position: relative; */
    width: 100%;
    /* mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    /* -webkit-mask-image: -webkit-gradient(linear, right 5%, right top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); */
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 3%, rgba(0,0,0,1) 94%, rgba(0,0,0,0) 100%);

}

.toriContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: auto;
    width: 6em;
    cursor: pointer;
}

.inariStick {
    /* margin: 0 auto 70vh; */
    height: 220vh;
    width: 100%;

}

.white {
    height: 112vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    background-color: white;
    /* -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 3%, rgba(0,0,0,1) 94%, rgba(0,0,0,0) 100%); */
}

/* TITLE STYLES */

#sun {
    position: fixed;
    margin: auto;
    top: 52.5%;
    right: 0;
    left: 0;
    background-color: white;
    height: 4em;
    width: 4em;
    border-radius: 50%;
}

#blackSun {
    position: fixed;
    margin: auto;
    top: 18%;
    right: 0;
    left: 0;
    background-color: black;
    height: 4em;
    width: 4em;
    border-radius: 50%;
}

.horizon {
    top: 50%;
    border-top: 2px solid white;
    width: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: fixed;
    margin-top: 5px;
}

.horizon.white {
    border-top: 2px solid black;
}

.horizon::after {
    content: '';
    display: block;
    z-index: 4;
    background-color: black;
    height: 5em;
}

.horizon.white::after {
    background-color: white;
}

#title {
    font-size: 100%;
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    position: fixed;
    top: 25%;
    right: 0;
    left: 0;
    opacity: 0;
}

#byline {
    font-size: 60%;
    opacity: 0;
    position: fixed;
    top: 55%;
    font-family: 'Lato', sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    left: 0;
    right: 0;
    margin: auto;
    width: 45%;
}

.poem {
    background-color: rgba(32, 32, 32, 0.9);
    font-size: 90%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    text-align:left;
    /* font-size: 100%; */
    top: 30%;
    right: -50%;
    z-index: 9999;
    padding: 4em 3.7em 4.4em 3.7em;
    line-height: 1.5;
    border: 1px solid rgb(136, 136, 136);
    box-shadow: 10px 10px 10px #d6d6d693;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
    /* opacity: 0; */
}

.hidden {
    opacity: 0;
}

.fadeIn {
    animation: faderIn 1.5s forwards;
}

.fadeOut {
    animation: faderOut 1s forwards;
}

.dip {
    animation: dip 2s ease-in forwards;
}

@keyframes dip {
    0% {transform: translateY(0%)}
    100% {transform: translateY(200%)}
}

@keyframes faderIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes faderOut {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

/* PARTICLE STYLES */

.particleWrap {
    position: fixed;
    width: 100vw;
    height: 50vh;
}

/* POEM STYLES */

.intro {
    z-index: 9999;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 115%;
    position: absolute;
    top: 14%;
    left: 0;
    right: 0;
    width: 60em;
    color: white;
    margin: auto;
    background: rgba(17, 35, 69, 0.377);
    padding: 3.5em 3.5em 4em 3.5em;
    line-height: 1.4;
}